:root {
    /* マージンのサイズ */
    --margin-main: 20px;
    --margin-narrow: 10px;
    --margin-more-narrow: 5px;

    /* パディングのサイズ */
    --padding-main: 20px;
    --padding-narrow: 10px;
    --padding-more-narrow: 5px;

    /* フォントサイズ */
    --font-size-larger: 20px;
    --font-size-main: 16px;
    --font-size-smaller: 14px;

    /* ボーダーの角丸 */
    --border-radius: 4px;

    /* 配色 */
    --color-product-main: #7CADED;
    --color-product-sub: #929292;
    --color-primary: #007bff;
    --color-hover: #0056b3;
    --color-muted-primary: hsl(211, 50%, 56%);
    --color-muted-hover: hsl(211, 50%, 46%);
    --color-border: #ccc;
    --color-text: #333;
    --color-text-light: #888;

    /* コンテナの幅 */
    --container-width: 400px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--color-muted-primary);
    color: white;
    margin: auto;
    height: 80px;
    text-align: center;
    z-index: 1000;
}

.header h1 {
    margin: 10px auto;
    flex-grow: 1;
    text-align: left;
    font-family: 'Mogra';
    font-size: 50px;
    text-shadow: 0.2rem 0.1rem 0px var(--color-product-sub);
}

.header img {
    height: 80px;
    margin: 0 var(--margin-main);
}

.main-content {
    margin-top: 100px;
    height: calc(100vh - 80px);
    /* ヘッダーの高さ分だけ下にずらす */
    padding: var(--padding-main);
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

h2 {
    margin-bottom: var(--padding-main);
    color: var(--color-text);
}

.btn {
    width: 100%;
    padding: var(--padding-narrow);
    background-color: var(--color-primary);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    font-size: var(--font-size-larger);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.btn:hover {
    background-color: var(--color-hover);
}

.btn-muted {
    width: 100%;
    padding: var(--padding-narrow);
    background-color: var(--color-muted-primary);
    color: white;
    border: none;
    border-radius: var(--border-radius);
    font-size: var(--font-size-larger);
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-bottom: 10px;
}

.btn-muted:hover {
    background-color: var(--color-muted-hover)
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: var(--margin-more-narrow);
}

input,
select {
    width: 90%;
    padding: var(--padding-narrow);
    font-size: var(--font-size-main);
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    transition: border-color 0.3s ease;
    margin-bottom: var(--margin-main);
}

input:focus,
select:focus {
    border-color: var(--color-primary);
    outline: none;
    background-color: white;
}

textarea {
    width: 90%;
    min-height: 100px;
    max-height: 400px;
    padding: var(--padding-narrow);
    font-size: var(--font-size-main);
    resize: vertical;
    box-sizing: border-box;
}

.dropdown-container {
    margin-bottom: var(--margin-main);
}