@import url('_common.css');



.toggleButton input {
    display: none;
    /* チェックボックスを非表示 */
}

.toggleButton span {
    cursor: pointer;
    /* スタイルを追加 */
}

.toggleButton input:checked ~ #content {
    display: block;
    /* チェックされたときにコンテンツを表示 */
}