@import url('_common.css');

.main {
    display: flex;
    width: calc(100% - 10px);
    box-sizing: border-box;
}

.main .box-left,
.main .box-right {
    width: 50%;
}

.user-data {
    text-align: right;
}

.rank-list ul li {
    line-height: 1.2;
    padding: var(--padding-more-narrow) 0;
    justify-content: space-between;
}

.rank-list ul {
    background: var(--color-border);
    border-radius: 8px;
    box-shadow: 0px 0px 5px var(--color-product-sub);
    padding: var(--padding-main);
    margin: var(--margin-narrow) var(--margin-main);
}

.rank-list li {
    display: flex;
    justify-content: space-between;
    padding: var(--padding-narrow) 0;
}

.rank,
.points {
    width: 100%;
    text-align: center;
}